.section-acces {
    margin: 100px 60px 50px 60px;
    h2 {
        margin-bottom: 100px;
    }

    .grid-acces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 70%;
        grid-template-areas:
            "txt icons"
            "map map";
        p {
            grid-area: txt;
            width: 60%;
            font-weight: bold;
        }
        ul {
            grid-area: icons;
            display: flex;
            justify-content: flex-end;
            li {
                font-size: 2.5rem;
                margin-left: 70px;
            }
        }
        iframe {
            grid-area: map;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 150px;
        }
    }
}
