.section-col-association {
    margin: 100px 60px 50px 60px;
    .title-container {
        margin-bottom: 70px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .association-txt {
            width: 50%;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .association-txt {
        padding-left: 0;
    }
}
