h4,
p {
    margin: 20px 0;
}
.section-col-anim {
    margin: 100px 100px;
    h2 {
        margin-bottom: 35px;
    }
    #push-up {
        position: fixed;

        color: $black;
    }
}

.collection-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    grid-template-areas: "img txt";
    flex-direction: column;

    img {
        grid-area: img;
        object-fit: cover;
        width: 80%;
    }

    .btn-container {
        align-self: flex-end;
        grid-area: txt;
        align-items: baseline;

        button {
            margin-left: 50px;
        }
    }
    .collection-txt {
        margin-left: 50px;
        width: 100%;
        align-items: center;
        grid-area: txt;
    }
}

.animations {
    margin: 0;
    margin-top: 70px;
    .animations-content {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        grid-template-areas: "txt img";

        img {
            grid-area: img;
            object-fit: cover;
            width: 80%;
            margin-left: 50px;
        }

        flex-direction: column;
        .btn-container {
            align-self: flex-end;
            grid-area: txt;
            align-items: baseline;
        }
        .animation-txt {
            width: 100%;
            align-items: center;
            grid-area: txt;
        }
    }
}

h2 {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        background: $black;
        height: 3px;
        bottom: -10px;
        left: 0;
        width: 8%;
    }
}

@media screen and (max-width: 600px) {
    .section-col-anim {
        .collection-content {
            grid-template-columns: 1fr;
            grid-template-rows: 40% 40% 10%;
            align-items: start;
            grid-template-areas:
                "txt"
                "img"
                "btn";

            .collection-txt {
                grid-area: txt;
                margin-left: 0;
                margin-bottom: 70px;
                margin-top: 30px;
            }
            img {
                grid-area: img;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .btn-container {
                grid-area: btn;
                button {
                    margin-left: 0px;
                }
            }
        }
        .animations-content {
            grid-template-columns: 1fr;
            grid-template-rows: 40% 40% 10%;
            align-items: start;
            grid-template-areas:
                "txt"
                "img"
                "btn";

            .animation-txt {
                grid-area: txt;
                margin-left: 0;
                margin-bottom: 70px;
                margin-top: 30px;
            }
            img {
                grid-area: img;
                // margin-bottom: 70px;
                // margin-top: 20px;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .btn-container {
                grid-area: btn;
                margin-left: 0px;
                button {
                    margin-left: 0px;
                }
            }
        }
    }
}
