.section-col-anim {
    margin: 100px 60px;
}

.collection-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.collection-content img {
    flex: 1;
}

.collection-txt {
    margin-left: 50px;
    width: 50%;
}

.collection-txt h4,
.collection-txt p {
    margin: 10px 0;
}

section.collection {
}
.animations {
    margin: 0;
}
.animations-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    img {
        flex: 1;
    }
}

.animation-txt {
    width: 50%;
    margin-right: 50px;
}

.animation-txt h4,
.animation-txt p {
    margin: 10px 0;
}

h2 {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        background: $black;
        height: 3px;
        bottom: -10px;
        left: 0;
        width: 8%;
    }
}

.savoir-button {
    margin-top: 30px;
    background: #f6c90e;
    padding: 15px;
    border: none;
    font-family: $font2;
    text-transform: uppercase;
    font-weight: 700;
}

.savoir-button:hover {
    cursor: pointer;
}
