.section-infos {
    background: $grey;
    padding: 0 60px;
    padding-top: 100px;
    h2 {
        color: $white;
        margin-bottom: 100px;
        &:after {
            background: $white;
        }
    }
    .tarifs-horaires {
        display: flex;
        margin-top: 40px;
        padding-bottom: 150px;
        justify-content: center;
        button {
            width: 150px;
        }
        p {
            color: $white;
            line-height: 35px;
            span {
                font-weight: bold;
            }
        }
        h3 {
            color: $white;
            &:after {
                display: none;
            }
        }

        .tarifs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 50px;
            width: 40%;
            background: url(/assets/img/tarifs.jpg) center/cover;

            padding: 80px 30px 35px 40px;

            .tarifs-normal {
                margin-bottom: 50px;
            }
            .tarifs-spe {
                margin-bottom: 70px;
            }
        }
        .horaires {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: url(/assets/img/horraires.jpg) center/cover;
            width: 40%;

            padding: 80px 30px 35px 40px;

            .avril {
                margin-bottom: 50px;
            }
            .juillet {
                margin-bottom: 70px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section-infos {
        .tarifs-horaires {
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            align-items: center;
            width: 100%;
            .tarifs {
                margin-right: 0px;
                width: 100%;
                margin-bottom: 70px;
            }
            .horaires {
                width: 100%;
            }
        }
    }
}
