.section-confiance {
    padding: 0 60px;
    margin-top: 150px;
    h2 {
        @include h2;
        margin-bottom: 90px;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            background: $black;
            height: 3px;
            bottom: -10px;
            left: 0;
            width: 8%;
        }
    }
    p {
        @include h4;
        width: 70%;
        margin-bottom: 100px;
    }
    .grid-partenaire {
        width: 60%;

        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
