main {
    h2 {
        &::after {
            display: none;
        }
    }
}
.collection {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    #push-up {
        position: fixed;
        color: $black;
        right: 10px;
        bottom: 50px;
        background: $yellow;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        transition: 0.15s;
        &:hover {
            height: 65px;
            width: 65px;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.aston-martin {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
    .h2-container {
        h2 {
            color: #383938;
        }
    }
    h6 {
        color: #383938;
    }
}
.mustang {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
    .h2-container {
        color: #0d4d79;
        opacity: 70%;
    }
    h6 {
        color: #0d4d79;
    }
}
.bmw {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
    .h2-container {
        color: #531010;
        opacity: 70%;
    }
    h6 {
        color: #531010;
    }
}
.bugatti {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
    .h2-container {
        color: #ff6413;
        opacity: 70%;
    }
    h6 {
        color: #ff6413;
    }
}
.car-content {
    position: relative;
    .grid-car {
        height: 100vh;
        display: grid;
        grid-template-columns: 5% 60% 35%;
        grid-template-rows: 40% 60%;

        grid-template-areas:
            "side date date"
            "side car txt";
        .car-txt {
            grid-area: txt;

            h4 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 40px;
            }
        }

        .h2-container {
            grid-area: date;
            position: relative;
            h2 {
                grid-area: date;
                top: -100px;
                position: absolute;
                font-size: 500px;
                left: -50px;

                z-index: -3;
            }
        }
    }
    .img-container {
        animation: carslide 0.5s ease-in;
        grid-area: car;
        position: relative;
        :first-child {
            position: absolute;
            top: -30px;
            left: -80px;
            object-fit: cover;
            max-height: 350%;
            width: 130%;
        }
    }
}
@keyframes carslide {
    0% {
        opacity: 0%;
        transform: translateY(300px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
// @keyframes txt1 {
//     0% {
//         transform: translateY(-300px);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }
