main {
    h2 {
        &::after {
            display: none;
        }
    }
}
.collection {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.aston-martin {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
}
.mustang {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
}
.bmw {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
}
.bugatti {
    height: 110vh;
    scroll-snap-align: start;
    margin-top: 50px;
}
.car-content {
    position: relative;
    .grid-car {
        height: 100vh;
        display: grid;
        grid-template-columns: 5% 60% 35%;
        grid-template-rows: 40% 60%;

        grid-template-areas:
            "side date date"
            "side car txt";
        .car-txt {
            grid-area: txt;

            h4 {
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 40px;
            }
        }

        .h2-container {
            grid-area: date;
            position: relative;
            h2 {
                color: $black;
                grid-area: date;
                top: -100px;
                position: absolute;
                font-size: 500px;

                z-index: -3;
            }
        }
    }
    .img-container {
        animation: carslide 0.5s ease-in;
        grid-area: car;
        position: relative;
        :first-child {
            position: absolute;
            top: -30px;
            left: -30px;
            object-fit: cover;
            max-height: 350%;
            width: 130%;
        }
    }
}
@keyframes carslide {
    0% {
        opacity: 0%;
        transform: translateY(300px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
// @keyframes txt1 {
//     0% {
//         transform: translateY(-300px);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }
