.all-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    header {
        height: 100vh;
        scroll-snap-align: start;
    }
    main {
        scroll-snap-align: start;
        height: 100vh;
    }
    footer {
        scroll-snap-align: start;
        height: 100vh;
    }
}
