@font-face {
    font-family: "satoshi-regular";
    src: url(/assets/fonts/satoshi-regular-webfont.woff)
        url(/assets/fonts/satoshi-regular-webfont.woff2);
}
@font-face {
    font-family: "librebaskerville-bold";
    src: url(/assets/fonts/librebaskerville-bold-webfont.woff)
        url(/assets/fonts/librebaskerville-bold-webfont.woff2);
}

$font1: librebaskerville-bold, serif;
$font2: satoshi-regular, sans-serif;
$black: #242424;
$grey: #393e46;
$yellow: #f6c90e;
$white: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
